.account {
    width: 100px;
    height: 100px;
    background-color: red;
}


.account-settings-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}