:root {
    --green: #4CAF50;
    --black: #131418;
    --grey: #888;
    --white: #f2f5f7;
    --light-blue: #61DAFB;
    --salmon: #ff7E7E;
    --red: red;
}

/* ========== STYLE ========== */
body {
    background-color: var(--white);
}


.color-white {
    color: var(--white);
}

.color-white-hover:hover {
    color: var(--white) !important;
}

.color-red {
    color: var(--red) !important;
}

.color-salmon {
    color: var(--salmon);
}

.color-black {
    color: var(--black);
}

.border-color-red {
    border: solid 1px;
    border-color: var(--red) !important;
}

.border-color-salmon {
    border: solid 1px;
    border-color: var(--salmon);
}

.border-color-black {
    border: solid 1px;
    border-color: var(--black);
}

.background-color-white {
    background-color: var(--white);
}

.background-color-salmon {
    background-color: var(--salmon);
}

.background-color-red {
    background-color: var(--red);
}

.background-color-red-hover:hover {
    background-color: var(--red);
}

/* ========== FORM ========== */

body {
    background-color: white;
}

.bloc-mise-en-page {
    background-color: var(--white);
}

canvas {
    background-color: none;
}

/* ========== ACCOUNT ========== */
.account-settings {
    box-shadow: 0 10px 2em rgb(180, 180, 180);
}

/* ========== NAV BAR ========== */
nav {
    color: var(--white);
    background-color: var(--black);
}

.nav-links li a:hover {
    color: var(--light-blue);
}

.login-button{
    border-color: var(--white);
}

.login-button:hover{
    color: var(--black);
    background-color: var(--white);
    border-color: var(--white);
}

.join-button{
    color: var(--black);
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.join-button:hover{
    color: var(--white);
    border-color: var(--white);
}

.hamburger div{
    background-color: var(--white);
}

.nav-links {
    background-color: var(--black);
}

.nav-links li a{
    color: var(--white);
}

.nav-links li button{
    color: var(--white);
}