:root {
    --green: #4CAF50;
    --black: #131418;
    --grey: #888;
    --white: #f2f5f7;
    --light-blue: #61DAFB;
    --red: rgb(235, 107, 107);
}

/* ========== COLOR ========== */

.white {
    color: var(--white);
}

.white-background {
    background-color: var(--white);
}

.red {
    color: var(--red);
}

.red-background {
    background-color: var(--red);
}

.border-red {
    border: solid 1px;
    border-color: var(--red);
}


/* ========== STYLE ========== */
body {
    background-color: white;
}

.bloc-mise-en-page {
    background-color: var(--white);
}

canvas {
    background-color: none;
}

/* ========== NAV BAR ========== */
nav {
    color: var(--white);
    background-color: var(--black);
}

.nav-links li a:hover {
    color: var(--light-blue);
}

.login-button{
    border-color: var(--white);
}

.login-button:hover{
    color: var(--black);
    background-color: var(--white);
    border-color: var(--white);
}

.join-button{
    color: var(--black);
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.join-button:hover{
    color: var(--white);
    border-color: var(--white);
}

.hamburger div{
    background-color: var(--white);
}

.nav-links {
    background-color: var(--black);
}

.nav-links li a{
    color: var(--white);
}

.nav-links li button{
    color: var(--white);
}

/* ========== BUTTON ========== */

.red-button {
    color: var(--red);
}

.background-red-button {
    background-color: var(--red);
}

.background-white-button {
    background-color: var(--white);
}