.registerpage {
  width: 100%;
  height: fit-content;
}

h3.registerpage {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}


.register-container {
  position: fixed;
  top: 30%;
  left: 25%;
  margin-top: -100px;
  margin-left: -200px;
}

.firstname-form, .email-form, .phone-form, .password-form {
  padding-top: 20px;
}


.registerbutton {
  padding: 15px 20px;
  border-radius: 40px;
  width: 50%;
  height: 50%;
  margin-right: 50px;
  cursor: pointer;
}