
.indexpage {
  width: 50%;
  height: 100vh;
  background-color: rgb(130, 201, 248);
}


h3.loginpage {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}

.login-container {
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: -100px;
  margin-left: -200px;
}

.email-form, .password-form {
  display: flex;
  flex-direction: column;
}

.password-form {
  padding-top: 40px;
}

.email-input, .password-input {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  align-items: center;
}

.email-icon, .password-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

input{
  border: solid 1px;
  border-color: grey;
  padding:15px 20px;
  border-radius:25px;
  width: 100%;
  background-color: white;
} 

.loginSignInButton {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LoginButton {
  border: solid 1px;
  border-color: grey;
  padding: 15px 20px;
  border-radius: 40px;
  width: 50%;
  height: 50%;
  background-color: rgb(235, 107, 107);
  margin-right: 50px;
  cursor: pointer;
}

.SignInButton {
  border: solid 1px;
  border-color: grey;
  padding: 15px 20px;
  border-radius: 40px;
  width: 50%;
  height: 50%;
  background-color: rgb(235, 107, 107);
  cursor: pointer;
}

.SignIn {      
  color: black;
}


  
  